.header {
  font-size: 25px;
  text-align: center;
  padding: 10px 0;
}

.opcionMenu {
  margin-left: 10px;
  
}

.contenedor {
  margin: 30px;
}

.footerPrincipal {
  font-size: 25px;
    background-color: #081c2b;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }